---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/app.css";
---

<BaseLayout>
    <main class="p-4">
        <h1 class="text-3xl font-bold mb-4">Welcome to the MARC Website!</h1>
        <p class="mb-2">
            This is the prototype homepage for the Multidisciplinary AI Research
            Centre (MARC).
        </p>
        <button class="btn btn-primary">Get Started</button>
    </main>
</BaseLayout>
