---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/app.css";
import ResearchAreaCard from "../components/ResearchAreaCard.astro";
---

<BaseLayout>
    <main class="p-4">
        <h1 class="text-3xl font-bold mb-4">Research Areas</h1>
        <ResearchAreaCard Area="Hello" />
    </main>
</BaseLayout>
