---
import "../styles/app.css";
import logo from "../assets/logo.png";
import { Image } from "astro:assets";
---

<div class="navbar bg-base-100 shadow-sm sticky top-0 z-50">
    <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h8m-8 6h16"></path>
            </svg>
        </div>
        <ul
            tabindex="-1"
            class="menu menu-md dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
        >
            <li><a>About Us</a></li>
            <li><a>Research</a></li>
            <li><a>Projects</a></li>
            <li><a>Publications</a></li>
            <li><a>People</a></li>
            <li><a>News</a></li>
        </ul>
    </div>
    <Image
        src={logo}
        alt="MARC Logo"
        class="w-15 h-15 mr-2 mask mask-circle shadow-xl"
    />
    <div class="flex-1">
        <a class="btn btn-ghost text-xl" href="/"
            >Multidisciplinary AI Research Centre
        </a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-lg menu-horizontal px-2 hidden lg:flex">
            <li><a href="/">About Us</a></li>
            <li><a href="/Research">Research</a></li>
            <li><a>Projects</a></li>
            <li><a>Publications</a></li>
            <li><a>People</a></li>
            <li><a>News</a></li>
        </ul>
    </div>
</div>
