---
import { getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import "../../styles/app.css";

export async function getStaticPaths() {
    const projects = await getCollection("projects");
    return projects.map((project) => ({
        params: { slug: project.id },
        props: { project },
    }));
}

const people = await getCollection("people");
// Match people with projectMembers with people emails creating a dictionary
const peopleDict: { [email: string]: (typeof people)[number] } = {};
people.forEach((person) => {
    peopleDict[person.data.email] = person;
});

const { project } = Astro.props;
const { Content } = await render(project);
---

<BaseLayout>
    <main class="p-4 flex flex-col gap-10">
        <article class="prose prose-lg max-w-none">
            <h1>{project.data.project}</h1>
            <p><strong>Research Area:</strong> {project.data.researchArea}</p>
            <p>
                <strong>Authors:</strong>
                {
                    project.data.projectMembers.map((email) => (
                        <a
                            href={
                                peopleDict[email]
                                    ? `/people/${peopleDict[email]?.id}/`
                                    : ""
                            }
                            class="badge badge-ghost gap-1 no-underline"
                        >
                            {peopleDict[email]?.data.name || email}
                        </a>
                    ))
                }
            </p>
            <p>
                <strong>Supervisors:</strong>
                {
                    project.data.supervisors.map((email) => (
                        <a
                            href={
                                peopleDict[email]
                                    ? `/people/${peopleDict[email]?.id}/`
                                    : ""
                            }
                            class="badge badge-ghost gap-1 no-underline"
                        >
                            {peopleDict[email]?.data.name || email}
                        </a>
                    ))
                }
            </p>
            <div>
                <Content />
            </div>
        </article>
    </main></BaseLayout
>
