---
import "../styles/app.css";
import Navbar from "../components/Navbar.astro";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MARC</title>
    </head>
    <body>
        <Navbar />
        <slot />
    </body>
</html>
